/* libarary Font Size */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}


/* شكل الاسكرول */

::-webkit-scrollbar {
    width: 9px; 
}

::-webkit-scrollbar-track {
    background: #ffffff; 
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 10px;
    width: 10px;
    border: none;
}

.container-1{
  max-width: 1400px;
  margin: auto;
}



::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 127, 3); 
}


a{
  display: inline-block;
  text-decoration: none;
}

ul{
  list-style: none;
}




/* Header Start */
.header {
    background-color: #0f172a; /* لون كحلي غامق جداً وفخم */
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 99999; 
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px); 
    border-bottom: 2px solid #00d4ff; /* الخط اللبني عشان ينطق الهيدر */
    direction: rtl;
}

.logo {
    transition: all 0.4s ease;
    font-style: italic;
    font-size: 28px;
    cursor: pointer;
    font-weight: 700;
}



.logo:hover {
    transform: scale(1.05);
}

.humburger {
    display: none;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li a {
    color: #ffffff;
    font-size: 21px;
    font-weight: 500;
    margin: 0 10px;
    transition: all 0.3s ease;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #ffffff;
    background-color: #00d4ff; 
    box-shadow: 0 4px 15px rgba(0, 212, 255, 0.3);
    transform: translateY(-5px);
}

/* media specail Start */

@media (max-width: 1200px) {
    .header {
        padding: 0 2rem;
        height: 80px;
    }

    .humburger {
        display: block;
        cursor: pointer;
        width: 45px;
        height: 45px;
        position: relative;
    }

    .humburger i {
        position: absolute;
        inset: 0;
        margin: auto;
        width: max-content;
        height: max-content;
        opacity: 0;
        color: white;
        background-color: #00d4ff;
        padding: 10px;
        font-size: 25px;
        border-radius: 8px;
        transition: 0.3s ease;
    }

    .humburger i.active {
        opacity: 1;
        transform: rotate(180deg);
    }

    .navbar {
        position: absolute;
        background-color: #1a2a3a;
        top: 100px; 
        left: 0;
        width: 100%;
        padding: 2rem;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 0.4s ease;
        border-bottom: 3px solid #00d4ff;
    }

    .navbar.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;  
        top: 80px; 
    }

    .navbar ul {
        display: block;
        text-align: center;
    }

    .navbar ul li {
        margin: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 10px;
    }

    .navbar ul li:last-child {
        border-bottom: none;
    }
}
/* media special End */


/* Header End */


/* Home Start */

#home {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #0f172a 0%, #020617 100%);
    padding: 0 10%;
    color: white;
}

#home .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap:400px;
}

#home .row .col h1 {
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 15px;
    letter-spacing: -1px;
    text-align: center;
}



#home .row .col p {
    font-size: 22px;
    font-weight: 400;
    color: #d3d9e1; 
    margin-bottom: 40px;
    line-height: 1.4;
}

#home .row img {
    max-width: 45%;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); 
    border: 1px solid rgba(255, 255, 255, 0.05); 
    transition: 0.5s ease-in-out;
}

#home .row img:hover {
    transform: scale(1.05) translateY(-10px);
    border-color: #00d4ff;
}






.mini-features {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap; 
    cursor: pointer;
   

}

.mini-features span {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.05);
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 15px;
    color: #cbd5e1;
    border: 1px solid rgba(0, 212, 255, 0.2);
    transition: 0.3s;
}

.mini-features span i {
    color: #00d4ff; 
    font-size: 18px;
}

.mini-features span:hover {
    background: rgba(0, 212, 255, 0.1);
    transform: translateY(-3px);
}

.cta-buttons {
    display: flex;
    gap: 20px;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.btn-main {
    padding: 15px 35px;
    background-color: #00d4ff;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 12px;
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 212, 255, 0.2);
    font-size: 19px;
}

.btn-main:hover {
    background-color: #ffffff;
    color: #020617;
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(255, 255, 255, 0.2);
}


.btn-sub {
    padding: 15px 35px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
    font-size: 17px;
}

.btn-sub:hover {
    border-color: #00d4ff;
    color: #00d4ff;
    background: rgba(0, 212, 255, 0.05);
}


/* Home End */
